In [24]:
import pandas as pd
import numpy as np

In [52]:
url = 'https://en.wikipedia.org/wiki/NBA_75th_Anniversary_Team'

In [64]:
ls_tables = pd.read_html(url)
df = ls_tables[1]

df.head()

,Name[5],Team(s) played for (years)[note 3],Pos,Pts,Reb,Ast,Championships won,MVP won,Finals MVP won,All Star,All-NBA,HoF Year,Ref.
0,Kareem Abdul-Jabbar,Milwaukee Bucks (1969–1975) Los Angeles Lakers...,C,38387,17440,5660,"(1971, 1980, 1982, 1985, 1987, 1988)","(1971, 1972, 1974, 1976, 1977, 1980)","(1971, 1985)",19,15,1995,[16]
1,Ray Allen,Milwaukee Bucks (1996–2003) Seattle SuperSonic...,G,24505,5272,4361,"(2008, 2013)",NaN,NaN,10,2,2018,[17]
2,Giannis Antetokounmpo,Milwaukee Bucks (2013–2021),F,12319,5371,2632,(2021),"(2019, 2020)",(2021),5,5,TBD,[18]
3,Carmelo Anthony,Denver Nuggets (2003–2011) New York Knicks (20...,F,27370,7520,3354,NaN,NaN,NaN,10,6,TBD,[19]
4,Nate Archibald,Cincinnati Royals / Kansas City-Omaha / Kansas...,G,16481,2046,6476,(1981),NaN,NaN,6,5,1991,[20]

In [65]:
df.rename(
    columns = {
    "Name[5]": "Name",
    "Team(s) played for (years)[note 3]": "Teams_Years",
    "Championships won": "Championships_won",
    "MVP won": "MVP_won",
    "Finals MVP won": "Finals_MVP_won"
    },
    inplace = True
)

df.head()

,Name,Teams_Years,Pos,Pts,Reb,Ast,Championships_won,MVP_won,Finals_MVP_won,All Star,All-NBA,HoF Year,Ref.
0,Kareem Abdul-Jabbar,Milwaukee Bucks (1969–1975) Los Angeles Lakers...,C,38387,17440,5660,"(1971, 1980, 1982, 1985, 1987, 1988)","(1971, 1972, 1974, 1976, 1977, 1980)","(1971, 1985)",19,15,1995,[16]
1,Ray Allen,Milwaukee Bucks (1996–2003) Seattle SuperSonic...,G,24505,5272,4361,"(2008, 2013)",NaN,NaN,10,2,2018,[17]
2,Giannis Antetokounmpo,Milwaukee Bucks (2013–2021),F,12319,5371,2632,(2021),"(2019, 2020)",(2021),5,5,TBD,[18]
3,Carmelo Anthony,Denver Nuggets (2003–2011) New York Knicks (20...,F,27370,7520,3354,NaN,NaN,NaN,10,6,TBD,[19]
4,Nate Archibald,Cincinnati Royals / Kansas City-Omaha / Kansas...,G,16481,2046,6476,(1981),NaN,NaN,6,5,1991,[20]

In [66]:
df.drop(
    labels = ['Ref.'],
    axis = 1,
    inplace = True
)

df.head()

,Name,Teams_Years,Pos,Pts,Reb,Ast,Championships_won,MVP_won,Finals_MVP_won,All Star,All-NBA,HoF Year
0,Kareem Abdul-Jabbar,Milwaukee Bucks (1969–1975) Los Angeles Lakers...,C,38387,17440,5660,"(1971, 1980, 1982, 1985, 1987, 1988)","(1971, 1972, 1974, 1976, 1977, 1980)","(1971, 1985)",19,15,1995
1,Ray Allen,Milwaukee Bucks (1996–2003) Seattle SuperSonic...,G,24505,5272,4361,"(2008, 2013)",NaN,NaN,10,2,2018
2,Giannis Antetokounmpo,Milwaukee Bucks (2013–2021),F,12319,5371,2632,(2021),"(2019, 2020)",(2021),5,5,TBD
3,Carmelo Anthony,Denver Nuggets (2003–2011) New York Knicks (20...,F,27370,7520,3354,NaN,NaN,NaN,10,6,TBD
4,Nate Archibald,Cincinnati Royals / Kansas City-Omaha / Kansas...,G,16481,2046,6476,(1981),NaN,NaN,6,5,1991

In [67]:
df["Championships_won"].map(lambda x: x if x is np.nan else [int(item.strip()) for item in x.strip('()').split(',')])

0     [1971, 1980, 1982, 1985, 1987, 1988]
1                             [2008, 2013]
2                                   [2021]
3                                      NaN
4                                   [1981]
                      ...
71                                  [1972]
72                                     NaN
73                                     NaN
74                                     NaN
75                      [1985, 1987, 1988]
Name: Championships_won, Length: 76, dtype: object

In [68]:
def clean_dates(list_of_dates: str) -> list:
    """list_of_dates: str -> A string of the format: '(1000, 2000, 3000)'
    
    Takes in a string of comma separated dates and returns a list of integer dates."""
    
    if list_of_dates is np.nan:
        return list_of_dates
    
    else:
        ls = list_of_dates.strip('()').split(',') # returns a list of string values of dates
        ls_int = [int(item.strip()) for item in ls] # Converts each element of the list into integer. Removes white spaces

        return ls_int
    
df["Championships_won"] = df["Championships_won"].map(clean_dates)
df["MVP_won"] = df["MVP_won"].map(clean_dates)
df["Finals_MVP_won"] = df["Finals_MVP_won"].map(clean_dates)

df.head()

,Name,Teams_Years,Pos,Pts,Reb,Ast,Championships_won,MVP_won,Finals_MVP_won,All Star,All-NBA,HoF Year
0,Kareem Abdul-Jabbar,Milwaukee Bucks (1969–1975) Los Angeles Lakers...,C,38387,17440,5660,"[1971, 1980, 1982, 1985, 1987, 1988]","[1971, 1972, 1974, 1976, 1977, 1980]","[1971, 1985]",19,15,1995
1,Ray Allen,Milwaukee Bucks (1996–2003) Seattle SuperSonic...,G,24505,5272,4361,"[2008, 2013]",NaN,NaN,10,2,2018
2,Giannis Antetokounmpo,Milwaukee Bucks (2013–2021),F,12319,5371,2632,[2021],"[2019, 2020]",[2021],5,5,TBD
3,Carmelo Anthony,Denver Nuggets (2003–2011) New York Knicks (20...,F,27370,7520,3354,NaN,NaN,NaN,10,6,TBD
4,Nate Archibald,Cincinnati Royals / Kansas City-Omaha / Kansas...,G,16481,2046,6476,[1981],NaN,NaN,6,5,1991